 .form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background for readability */
    border-radius: 8px;
    box-shadow: 0 0 10px #e9b3ddc0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   color: rgb(223, 185, 154);
  }

.form-container h1, .form-container h4 {
  text-align: center;
 color:rgb(158, 128, 103);
}

.form-container button {
  width: 100%;
}

.btn-pink {
  background-color: #e9b3ddc0;; /* Color rosa para el botón */
  border: none;
}

.btn-pink:hover {
  background-color: #ebb5d2; /* Color rosa más oscuro para el hover */
}

.form-control:focus {
  border-color: #f1a4cb; /* Color rosa para el borde del input */
  box-shadow: 0 0 5px rgba(241, 153, 197, 0.925); /* Sombra rosa alrededor del input */
}

   .form-container:hover {
     transform: translateY(-10px);
     box-shadow: 0 15px 30px rgba(241, 183, 227, 0.678);
   }