
            <h1>Carrito de compras</h1>
            <table class="table">
    <thead>
    <tr>
        <th>Nombre del producto</th>
        <th>Cantidad</th>
        <th>Precio por unidad</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of shoopList$ | async">
            <td>{{v.name}} :</td> 
            <td> {{v.quantity}}</td>
            <td> {{v.price | currency}}</td>
            <!-- <app-input-number [(ngModel)]="velas.quantity" (keyup)="onQuantityChange($event, velas)"></app-input-number>
        --> </tr>

    </tbody>
</table>

