
<header>
  <div class="container">
    <h1 class="text-center mt-4 mb-4">MoonShine Candles</h1>
    <h4 class="text-center mt-4 mb-4 text-uppercase">VELAS DE SOJA</h4>
    
  </div>
</header>

<div class="container">
  <div class="row align-items-center">
    <div class="col-md-4">
      <div id="carouselExampleControlsNoTouching" class="carousel slide" data-ride="carousel" data-interval="20">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/UvaMango.jpeg" class="d-block w-100" alt="Uva y Mango">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/frutosRojos.jpeg" class="d-block w-100" alt="Frutos Rojos">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/limaVerbena.jpeg" class="d-block w-100" alt="Lima y Verbena">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <section class="aromas">
        <h2>Aromas Disponibles</h2>
        <ul>
          <li><strong>Frutos Rojos:</strong> Sumérgete en una explosión de frutos rojos que revitaliza y energiza tus sentidos.</li>
          <li><strong>Lima Verbena:</strong> Disfruta de un abrazo cálido y fresco con notas cítricas que te transportan a la calidez del hogar.</li>
          <li><strong>Uva Mango:</strong> Déjate llevar por una mezcla exótica y vibrante de uva, mango y cítricos que revitaliza cualquier espacio con su energía única.</li>
        </ul>
      </section>
      
    </div>
    <div class="col-md-8">
      
      <section class="intro">
        <h2>¿Qué hace únicas a nuestras velas?</h2>
<p>Nuestras velas de cera de soja están diseñadas meticulosamente para ofrecerte una experiencia de iluminación y aroma excepcionales. Utilizamos cera de soja 100% natural, conocida por su origen renovable y ecológico. Esto no solo asegura una combustión más limpia y duradera, sino que también contribuye a la sostenibilidad ambiental.</p>
      </section> 
<section class="benefits">
<h2>Características destacadas</h2>
<ul>
    <li><strong>Cera de Soja Natural:</strong> Proveniente del aceite de soja, nuestra cera es biodegradable y libre de toxinas, siendo una alternativa ecológica a las ceras convencionales como la parafina.</li>
   
    <li><strong>Experiencia Sensorial:</strong> Cada vela está infusionada con aceites esenciales y fragancias de alta calidad, cuidadosamente seleccionados para ofrecer aromas puros y delicados que se dispersan de manera uniforme en el ambiente.</li>

    <li><strong>Duración y Eficiencia:</strong> Las velas de cera de soja arden de manera más lenta y a una temperatura más baja, proporcionando una duración prolongada en comparación con las velas de parafina. Esto no solo maximiza su eficiencia, sino que también garantiza una experiencia de iluminación más duradera y satisfactoria.</li>

    <li><strong>Compromiso con el Medio Ambiente:</strong> Nos enorgullece ofrecer productos que no solo embellecen tu hogar, sino que también promueven un estilo de vida consciente y respetuoso con el entorno. Al elegir nuestras velas, estás contribuyendo activamente a la preservación del medio ambiente y al bienestar de tu espacio vital.</li>
</ul>
      </section>
      <!-- <section class="benefits">
        <h2>Beneficios de las velas de cera de soja</h2>
        <ul>
          <li><strong>Ecológicas y Naturales:</strong> La cera de soja es una alternativa natural y renovable a las ceras convencionales, como la parafina. Proviene del aceite de soja, lo que la hace biodegradable y libre de toxinas.</li>
          <li><strong>Duración Prolongada:</strong> Las velas de cera de soja arden más lentamente y a una temperatura más baja, proporcionando una duración mucho mayor en comparación con las velas de parafina.</li>
          <li><strong>Aromas Puros y Delicados:</strong> Nuestras velas están infusionadas con aceites esenciales y fragancias de alta calidad que se dispersan de manera uniforme y delicada en el ambiente.</li>
        </ul> 
      </section> -->
      <section class="why-choose">
        <h2>¿Por qué elegir nuestras velas?</h2>
        <p>Cada una de nuestras velas es hecha a mano con atención al detalle y pasión por la calidad. Nos enorgullece ofrecerte productos que no solo embellecen tu hogar, sino que también promueven un estilo de vida saludable y respetuoso con el medio ambiente.</p>
        <p>Descubre la diferencia que pueden hacer nuestras velas de cera de soja y transforma cualquier espacio en un refugio de paz y bienestar. ¡Explora nuestra colección y encuentra el aroma perfecto para ti!</p>
        
      </section>
    </div>
    </div>
  </div>

  <!-- Bootstrap JS, Popper.js, and jQuery -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

