body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
     background-color:rgb(223, 185, 154);
}

header {
    
    color:#8b4513;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    text-align: left; 
    font-family:'Times New Roman', Times, serif;
    font-weight: bold; 
    font-size: 70px; 
    color: #8b4513;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    }



section {
    padding: 1em 2em;
    margin: 1em auto;
    background: white;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(158, 128, 103);;
}

h2 {
    color:rgb(158, 128, 103);
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
}

li strong {
    color: rgb(158, 128, 103);;
}

.intro p, .why-choose p {
    margin: 0.5em 0;
}

.carousel-item img {
  height: 500px; /* Ajusta la altura según tus necesidades */
  object-fit: cover; /* Para que la imagen cubra el contenedor */
}
