<h1>Lista de velas</h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Material</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
       @for (velas of velas; track velas.name) {
           <tr [ngClass]="{'clearance': velas.clearance}">
           <td><img width="100" class="img-thumbnail" [src]="velas.image" [alt]="velas.name"></td>
             <td>{{ velas.name }}</td>
             <td>{{ velas.material }}</td>
             <td>{{ velas.price | currency }}</td>
             @if (velas.stock >0) {
               <td>{{ velas.stock }}</td>
             } @else {
               <td><span class="badge text-bg-danger">SIN STOCK</span></td>
             }
             <td>
            <app-input-number  [(quantity)]="velas.quantity"[max]="velas.stock" *ngIf="velas.stock" ></app-input-number>
            </td>
           </tr>
         } @empty {
           <tr>
             <td colspan="4">No hay velas para mostrar.</td>
           </tr>
         }
   </tbody>
</table>
