<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Material</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
   <tbody>
    <tr>
        <td><img [src]="velas.image" [alt]="velas.name"></td>
        <td>{{velas.name}}</td>
        <td>{{velas.material}}</td>
        <td>{{velas.price}}</td>
        <td>{{velas.stock}}</td>
    
    </tr>
    <tr>
        <td><img [src]="velas1.image" [alt]="velas1.name"></td>
        <td>{{velas1.name}}</td>
        <td>{{velas1.material}}</td>
        <td>{{velas1.price}}</td>
        <td>{{velas1.stock}}</td>
    </tr>
    <tr>
        <td><img [src]="velas2.image" [alt]="velas2.name"></td>
        <td>{{velas2.name}}</td>
        <td>{{velas2.material}}</td>
        <td>{{velas2.price}}</td>
        <td>{{velas2.stock}}</td>
    </tr>
   </tbody>


</table>
